body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.9em;
  background-color: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
}

.nav .item {
  color: #312e2e;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

.nav .item.active {
  color: #137880;
}

/* Bar Chart */

.tick line {
  stroke: #c0c0bb;
}

.tick text {
  fill: #635f5d;
}

.mark {
  fill: #137880;
}

.x-axis-label {
  font-weight: bold;
  text-anchor: middle;
}

.y-axis-label {
  font-weight: bold;
  text-anchor: middle;
}

.d3-chart-title {
  font-size: 1.5em;
  font-weight: 400;
  text-anchor: middle;
}

/* Gauge */

.metric {
  font-size: 3em;
  font-weight: bold;
  text-anchor: middle;
}

.sub-metric {
  font-size: 1.1em;
  text-anchor: middle;
}

/* Line Chart */
.axis {
  font-size: 1em;
  font-weight: bold;
}

/* Tooltip */
div.tooltip {
  background-color: #cecece;
  border: 2px solid #fff;
  color: #fff;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  text-align: left;
  min-width: 129px;
  min-height: 113px;
}

.axis .domain {
  stroke: #e2e2e2;
  stroke-width: 2px;
}

.tick line {
  stroke: #e2e2e2;
  stroke-width: 2px;
}

.y-axis .tick text {
  transform: translateX(-10px);
}

.y-axis line {
  stroke: #979797;
  stroke-linecap: round;
}

.y-axis-grid {
  stroke-width: 2px;
  stroke-dasharray: 10px;
  stroke-linecap: round;
}
